{ erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{ profiles, [
    {test, [
        {cover_enabled, true},
        {deps,
         [{meck, {git, "https://github.com/eproxus/meck.git", {branch, "master"}}}]}]}
]}.

{ dialyzer, [
    % Do not run on the tests, it will raise a lot of false positives.
    {exclude_mods, [
        mock_io_test
    ]},

    % Make the static analysis pickier than default.
    {warnings, [
        error_handling,
        race_conditions,
        underspecs,
        unmatched_returns
    ]}
]}.


